<h1>New locale</h1>

<%= error_messages_for :locale %>

<% form_for(:locale, @locale, :url => admin_locales_path) do |f| %>
  <p>
    <b>ISO name</b><br />
    <%= f.text_field :iso %>
  </p>

  <p>
    <b>Language code (2-letter)</b><br />
    <%= f.text_field :short %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_locales_path %>
